*.sw*
client/buildGo
client/elm/elm-stuff/
client/go/elm.go
hi.hi
main.aux
main.log
main.out
main.pdf
main.tex
secret
server/database.sqlite3
server/staticKeys
wasm/hello-wasm/target/
generated/
nw000000
nw000001
