*.sw*
truelang/.stack-work/
truelang/truelang.cabal
client/frontend/elm-stuff/
a.out
staticKeys
*.sqlite3
venv/
client/elm/node_modules/
client/elm/review/elm-stuff/
client/elm/elm-stuff/
secret
client/go/elm.go
client/buildGo
