.programDiv {
    display: flex;
}

.programDiv > div {
    flex: 1;
}

.leftTextBox {
    white-space: pre;
    width: 50vw;
    resize: none;
}

code {
    margin-top: 2px;
    white-space: pre;
    width: 50vw;
}

.leftDiv {
    display: flex;
    flex-direction: column;
}

.saveButton {
    width: 6em;
}

.runButton {
    width: 6em;
}

.codeEditorBox {
    width: 96vw;
    resize: none;
}
