#topbar {
    display: flex;
}

#adminButtons {
    display: flex;
}

#appButtons {
    display: flex;
    margin: -5px -5px;
    flex-wrap: wrap;
}

#appButtons > button:hover {
    background-color: rgb(204, 230, 255);
}

#appButtons > button, #appButtons > div {
    margin: 5px 5px;
    flex: 1;
}

#appButtons > div {
    background-color: black;
    height: 5px;
}

#appButtons > button {
    font-family: Ubuntu;
    font-size: 1.4em;
    padding: 30px 5px;
    background-color: rgb(204, 230, 255);
    border: none;
}
